* {
    box-sizing: border-box;
}

html {
    background: radial-gradient(#463460, #120F16);
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#7C63A2, #453060);
    color: #fff;
    text-align: center; */
}

/*  */
/* PAGE CHOIX DE POKEMON */
/*  */

.choice-card {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    background: radial-gradient(#463460, #120F16);
}

.choice-card-end-duel {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: radial-gradient(#463460, #120F16);
}

.choice-card-title {
    color: white;
    font-size: 4rem;
    margin: 0;
}

.pokemon-choice {
    width: 70vw;
    height: 70vw;
    margin-top: -3rem;
    color: white;
    position: relative;
}

.pokemon-choice-data {
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
    flex-direction: column;
    width: 100%;
}

.pokemon-choice-img {
    width: 60%;
    z-index: 1;
    margin: auto;
}

.pokemon-choice-data-details {
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pokemon-choice-data-details-line {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.pokemon-choice-data-details-name {
    font-size: 2.5rem;
    font-weight: bold;
}

.pokemon-choice-data-details-level {
    font-size: 2.5rem;
    font-weight: 500;
}

.pokemon-choice-data-details-rarity {
    font-size: 2rem;
    font-weight: 700;
}

.pokemon-choice-data-details-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: rgb(103, 161, 236);
    font-size: 2rem;
    font-weight: 700;
}

.pokemon-choice-cta-container {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.pokemon-choice-cta {
    border: none;
    height: 100%;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    width: 60%;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rarity-background {
    position: absolute;
    bottom: 0; /* Aligne l'image au bas de pokemon-data */
    left: 0;
    width: 100%; /* La largeur de l'image est égale à la largeur de pokemon-choice */
    height: 60%; /* L'image occupe la moitié de la hauteur de pokemon-choice */
    z-index: -1; /* Place l'image derrière pokemon-data */
    object-fit: cover; /* Assure que l'image couvre bien l'espace sans distorsion */
    background-size: cover; /* Pour que l'image couvre entièrement la carte */
    background-position: center; /* Centre l'image */
    border-radius: 2rem;

}

.shiny-icon {
    position: absolute;
    height: 5rem;
    width: 5rem;
    bottom: 42%;
    right: 4rem;
    z-index: 2; /* Assurez-vous que l'icône est au-dessus de l'image */
}

/*  */
/* PAGE PRINCIPALE */
/*  */

.main-page-container {
    width: 100%;
    height: 100%;
}

/* Routes : */

#routes-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 30vh;
}

.empty-list-route {
    font-size: 3rem;
    color: white;
    width: 80%;
    text-align: center;
    margin-top: 25rem;
    font-weight: bold;
}

.route-display {
    width: 90vw;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image-card-container,
.image-card {
    width: 100%;
    position: relative;
}

.image-card-lock {
    position: absolute;
    height: 50%;
    opacity: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.route-label {
    width: 85%;
    background-color: white;
    text-align: center;
    color: #462A6B;
    border-radius: 0 0 3rem 3rem;
    font-size: 3rem;
    font-weight: bold;
    padding: 1.5rem 0;
    margin-top: -0.5rem;
}

/* Bottom part : */

.action-button {
    font-size: 3rem;
    background: linear-gradient(0.7turn, #f51f80, #f53243);
    border-radius: 5rem;
    padding: 2rem 5rem;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 3rem #cd0d4c;
}

.action-button-disabled {
    font-size: 3rem;
    background: linear-gradient(0.7turn, #5f2f42, #573437);
    border-radius: 5rem;
    padding: 2rem 5rem;
    color: lightgray;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.action-button:hover {
    background-color: #ddd;
}

.bottom-ui {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.bottom-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#462A6B, #000000);
    padding: 15px 0;
    border-radius: 5rem 5rem 0 0;
    padding-top: 3rem;
    padding-bottom: 4rem;
    box-shadow: 0px 0px 33px rgba(255, 255, 255, 0.33);
}

.menu-item {
    text-align: center;
    color: #462A6B;
}

.icon {
    width: 10rem;
    height: 10rem;
}

.menu-label {
    font-weight: bold;
    font-size: 2rem;
    background-color: white;
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
}

.notification {
    text-align: center;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 3rem;
    display: none; /* Hidden by default */
    z-index: 1000; /* Make sure it's on top */
    transition: opacity 0.5s ease-in-out;
}

/* Animation to fade in */
.show {
    display: block;
    opacity: 1;
}

/* Animation to fade out */
.hide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* DUEL */

.duel-card {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    background: radial-gradient(#463460, #120F16);
}

.duel-enemy-container,
.duel-player-container {
    width: 80%;
}

.duel-enemy-container {
    height: 30%;
}

.duel-choices-container {
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0000008f;
    border-radius: 5rem;
    padding: 5rem;
}

.duel-player-container {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.duel-enemy-trainer {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.duel-enemy-trainer-img {
    flex-grow: 1;
    width: 100%;
    object-fit: contain;
    max-height: 80%;
}

.duel-enemy-trainer-img-end-duel {
    flex-grow: 1;
    width: 100%;
    object-fit: contain;
    max-height: 80%;
    position: fixed;
    top: 0;
}

.duel-player-img-end-duel {
    flex-grow: 1;
    width: 100%;
    object-fit: contain;
    max-height: 80%;
    position: fixed;
    bottom: 0;
}

.duel-enemy-trainer-name {
    color: white;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

.enemy-pokemon-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s cubic-bezier(0.36, 0, 0.66, -0.56);
    margin-top: 0rem;
}

.player-pokemon-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s cubic-bezier(0.36, 0, 0.66, -0.56);
    margin-top: 0rem;
}

.duel-enemy-pokemon-img,
.duel-player-pokemon-img {
    width: 30%;
}

.duel-enemy-pokemon-img {
}

.duel-player-pokemon-img {
}

.duel-enemy-pokemon-stats {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.duel-enemy-team-icons {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.duel-enemy-team-icon {
    height: 4rem;
}

.duel-enemy-pokemon-name {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.duel-enemy-pokemon-level-and-type {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
}

.duel-enemy-pokemon-level {
    color: white;
    font-size: 2.5rem;
}

/* Barre de vie */
.duel-health-bar,
.switch-health-bar {
    width: 100%;
    height: 2.5rem;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 0.5rem;
}

.switch-health-bar {
    background-color: #685189;
}

.duel-health-bar-filling {
    height: calc(100% - 6px);
    border-radius: 2rem;
    margin-left: 3px;
    transition: 0.5s ease;
}

.duel-player {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
}

.duel-player-img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 9;
    z-index: -1;
}

.duel-player-name {
    position: absolute;
    bottom: 2rem;
    left: 0.5rem;
    color: white;
    font-size: 3rem;
    text-align: left;
    text-shadow: 0 0 0.5rem black;
}

.duel-buttons {
    width: 85%;
    height: 100%;
}

.duel-button-line-own {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8rem;
}

.duel-button {
    width: 30rem;
    font-size: 3rem;
    background: linear-gradient(0.7turn, #f51f80, #f53243);
    border-radius: 5rem;
    padding: 2rem 5rem;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.change-pokemon {
    width: 100%;
    font-size: 3rem;
    background-color: #685189;    border-radius: 5rem;
    padding: 2rem 5rem;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-message {
    width: 100%;
    background-color: white;
    color: #462A6B;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 2rem 3rem;
    border-radius: 5rem;
    text-align: center;
}