.popup-background,
.popup-background-switch-pokemon {
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-background-switch-pokemon {
    z-index: 12;
}

/* Conteneur principal du popup */
.popup-your-pokemons {
    position: relative;
    width: 85%;
    height: 85%;
    background-color: white;
    border-radius: 5rem;
    z-index: 5;
    overflow-y: auto;
}

.popup-your-pokemon-detail {
    position: relative;
    width: 85%;
    height: 85%;
    background-color: white;
    border-radius: 5rem;
    z-index: 5;
    overflow-y: auto;
}

/* Titre du popup */
.popup-title-line {
    position: relative;
    color: #4B3768;
    font-size: 3.5rem;
    font-weight: 900;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.popup-title-line p {
    margin: 0;
}

.popup-close-icon {
    position: absolute;
    right: 4rem;
    width: 3.2rem;
    height: 3.2rem;
}

/* Liste des Pokémon */
.popup-content-wrapper {
    flex-grow: 1; /* Permet au wrapper d'occuper l'espace restant */
    overflow-y: auto; /* Scroll vertical uniquement dans ce wrapper */
}

.popup-content-your-pokemons-list {
    padding-top: 5rem;
    height: 80;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    flex-grow: 1; /* Remplit tout l'espace disponible */
    padding-bottom: 3rem;
}

/* Conteneur de chaque Pokémon */
.popup-content-single-pokemon {
    position: relative;
    height: 14rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 3rem;
}

/* Partie gauche : Image du Pokémon et type */
.popup-content-left-side {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 16rem;
}

.popup-content-pokemon-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9;
}

.popup-content-rarity-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 3rem;
    z-index: 8;
}

.popup-content-type-chip { 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    bottom: 0;
    right: 0;
    margin: 0;
    height: 3rem;
    border-radius: 2rem;
    z-index: 10;
}

.popup-content-type-chip-text { 
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
}

.pokemon-detail-type-chip { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 3rem;
    border-radius: 2rem;
    z-index: 10;
}

.pokemon-detail-type-chip-text { 
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.6rem 2rem;
}

/* Partie droite : Détails du Pokémon */
.popup-content-right-side {
    position: relative;
    flex-grow: 1;
    height: 100%;
}

.popup-content-pokemon-name {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4B3768;
}

.popup-content-pokemon-level,
.popup-content-pokemon-attack {
    font-size: 2rem;
    font-weight: 500;
    color: #4B3768;
}

/* Barre de vie */
.your-pokemons-health-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #4B3768;
    border-radius: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.your-pokemons-health-bar-filling {
    height: calc(100% - 6px);
    border-radius: 2rem;
    margin-left: 3px;
}

.pokemon-detail-health-bar {
    width: 100%;
    height: 2.5rem;
    background-color: #4B3768;
    border-radius: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.pokemon-detail-health-bar-filling {
    height: calc(100% - 6px);
    border-radius: 2rem;
    margin-left: 3px;
}

/* Icônes */
.popup-content-pokemon-icons {
    position: absolute;
    right: 0;
    top: 0;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.popup-content-pokemon-icons img {
    width: 100%;
}


/* Detail pokemon */

.detail-your-pokemon-detail,
.detail-confirm-buying,
.detail-start-route,
.detail-start-duel,
.detail-trainer-card,
.detail-enter-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-pokemon-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 70%;
    gap: 3rem;
}

.detail-pokemon-image {
    padding-bottom: 5rem;
}

.detail-pokemon-stats {
    display: flex;
    position: relative;
    width: 100%;
}

.detail-pokemon-stats-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.detail-pokemon-in-team-icon {
    width: 100%;
}

.detail-pokemon-shiny-icon {
    width: 100%;
}

.detail-pokemon-name {
    font-size: 3rem;
    font-weight: bold;
    color: #4B3768;
}

.detail-pokemon-level {
    font-size: 2rem;
    font-weight: bold;
    color: #4B3768;
}

.detail-pokemon-attack {
    font-size: 2rem;
    font-weight: bold;
    color: #4B3768;
}

.detail-pokemon-rarity {
    font-size: 2rem;
    font-weight: 1000;
    color: #4B3768;
}

.pokemon-detail-health-container {
    width: 100%;
}

.pokemon-detail-health-tips {
    font-size: 1.5rem;
    color: #4B3768;
    margin: 0;
    text-align: center;
}

.pokemon-detail-health-number {
    font-size: 2rem;
    font-weight: 1000;
    color: #4B3768;
    margin: 0;
    margin-top: 0.5rem;
    text-align: center;
}

.detail-pokemon-buttons {
    width: 70%;
    position: absolute;
    bottom: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.detail-pokemon-button {
    width: 100%;
    border-radius: 3rem;
    color: white;
    background-color: #685189;
    border-style: none;
    height: 6rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    padding: 0 3rem;
}

/* Put in team popup */

.popup-put-in-team-detail {
    position: relative;
    width: 85%;
    height: 25%;
    background-color: white;
    border-radius: 5rem;
    z-index: 5;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-confirm-buying,
.popup-start-route,
.popup-start-duel,
.popup-trainer-card,
.popup-enter-code {
    position: relative;
    width: 85%;
    background-color: white;
    border-radius: 5rem;
    z-index: 5;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
}

.popup-put-in-team-title,
.popup-confirm-buying-title,
.popup-start-route-title,
.popup-start-duel-title,
.popup-start-route-route-name,
.popup-trainer-card-title,
.popup-start-route-duel-name,
.popup-enter-code-title {
    color: #4B3768;
    font-size: 3.5rem;
    font-weight: 900;
    width: 90%;
    text-align: center;
    margin: 0;
}

.popup-start-route-duel-name {
    margin-top: 3rem;
}

.popup-start-route-route-name {
    margin-top: 2rem;
}

.popup-start-route-route-level {
    margin: 0;
    color: #4B3768;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.popup-start-route-duel-level,
.popup-start-route-duel-ask-leader {
    margin: 0;
    color: #4B3768;
    font-size: 3rem;
}

.popup-put-in-team-pokemon-list {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.popup-put-in-team-pokemon-container {
    position: relative;
}

.popup-put-in-team-pokemon-img {
    width: 100%;
}

.popup-put-in-team-remove-img {
    position: absolute;
    width: 5rem;
    bottom: 0;
    right: 0;
}

/* Evolution popup */

.popup-evolution-pokemon-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popup-evolution-detail {
    position: relative;
    width: 85%;
    height: 85%;
    background-color: white;
    border-radius: 5rem;
    z-index: 5;
    overflow-y: auto;
}

.popup-evolution-title {
    color: #4B3768;
    font-size: 3.5rem;
    font-weight: 900;
    width: 90%;
    text-align: center;
}

.popup-evolution-requirements {
    color: #4B3768;
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
}

.popup-evolution-single-container {
    display: flex;
    height: 18rem;
    width: 100%;
}

.popup-evolution-right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

.popup-evolution-button {
    width: 100%;
    border-radius: 3rem;
    color: white;
    background-color: #685189;
    border-style: none;
    height: 6rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    padding: 0 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-evolution-button-greyed {
    opacity: 30%;
}

.popup-evolution-button-left-side {
    margin: 0;
    padding: 0;
}

.popup-evolution-type-chip { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 3rem;
    border-radius: 2rem;
    z-index: 10;
    width: 12rem;
}

.popup-evolution-type-chip-text { 
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.6rem 2rem;
    margin: 0;
}

.popup-evolution-img {
    height: 18rem; 
    width: 18rem;
}

.popup-evolution-button-right-side-cost-img {
    height: 4rem;
}

.popup-evolution-button-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Shop popup */

.popup-shop,
.popup-inventory,
.popup-trainer-image {
    position: relative;
    width: 85%;
    height: 85%;
    background-color: white;
    border-radius: 5rem;
    z-index: 5;
    overflow-y: auto;
}

.popup-shop-detail {
    position: relative;
    width: 85%;
    height: 85%;
    background-color: white;
    border-radius: 5rem;
    z-index: 5;
    overflow-y: auto;
}

.popup-content-shop,
.popup-content-inventory,
.popup-content-trainer-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-content-shop-list,
.popup-content-inventory-list,
.popup-content-trainer-image-list {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    flex-grow: 1; /* Remplit tout l'espace disponible */
    padding-bottom: 3rem;
}

.popup-content-trainer-image-list {
    flex-direction: row;
    overflow-y: auto;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.popup-content-trainer-single-image {
    width: 45%;
}

.popup-content-single-item {
    position: relative;
    height: 14rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 2rem;
}

.popup-content-item-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9;
}

.popup-content-item-name {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4B3768;
}

.popup-content-item-description {
    font-size: 2rem;
    font-weight: 500;
    color: #4B3768;
}

.popup-content-item-price,
.popup-content-item-quantity { 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    bottom: 0;
    right: 0rem;
    margin: 0;
    height: 5.5rem;
    z-index: 10;
    border-radius: 3rem;
    color: white;
    background-color: #685189;
    border-style: none;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.popup-content-item-quantity {
    width: 6rem;
}

.popup-content-item-price-text,
.popup-content-item-quantity-text { 
    color: white;
    font-size: 2rem;
    font-weight: 800;
}

.popup-content-item-price-text-with-margin,
.popup-content-item-quantity-text-with-margin,
.popup-start-route-button-text,
.popup-enter-code-button-text {
    margin-right: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.popup-start-route-button-text,
.popup-start-duel-button-text,
.popup-enter-code-button-text {
    margin-right: 0;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.popup-content-item-price-img {
    max-height: 90%;
    margin-right: 0.5rem;
}

.popup-content-right-side-shop {
    margin-left: 5rem;
}

/* Confirm buying */

.confirm-buying-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-confirm-buying-img {
    margin-top: 2rem;
}

.detail-trainer-card-img {
    margin-top: 2rem;
    width: 90%;
}

.detail-start-route-img {
    width: 90%;
    margin-top: 5rem;
}

.detail-start-duel-img {
    width: 90%;
    margin-bottom: 5rem;
}

.popup-confirm-buying-buttons-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.popup-trainer-card-buttons-container {
    margin-top: 5rem;
    width: 80%;
}

.popup-confirm-buying-button,
.popup-start-route-button,
.popup-start-duel-button,
.popup-trainer-card-button,
.popup-enter-code-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    border-radius: 3rem;
    color: white;
    background-color: #685189;
    border-style: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 3rem;
}

.popup-start-duel-button {
    opacity: 50%;
}

.popup-subtitle-line {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #685189;
}

.popup-subtitle-text {
    text-align: center;
    font-size: 2.5rem;
}

.popup-subtitle-image {
    height: 4rem;
}

.popup-content-right-side-inventory {
    margin-left: 3rem;
    max-width: 60%;
}

.detail-trainer-card-name,
.detail-enter-code-input {
    width: 80%;
    height: 5rem;
    font-size: 3rem;
    text-align: center;
    border-radius: 3rem;
    border: solid 0.3rem #463460;
    color: #463460;
}

.detail-enter-code-input {
    width: 70%;
    margin: 4rem 0;
    font-weight: bold;
}

.popup-trainer-card-captured-pokemons,
.popup-trainer-card-seen-pokemons {
    width: 90%;
    color: #463460;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.popup-trainer-card-seen-pokemons {
    margin-top: 2rem;
}

.popup-start-duel-pokemon-list-icon {
    height: 5rem;
}

.popup-switch-pokemon-pokemon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18rem;
    max-width: 45%;
}

.popup-switch-pokemon-pokemon-img {
    width: 100%;
}

.popup-start-duel-pokemon-own-icon {
    max-width: 30%;
    opacity: 100%;
}

.popup-start-duel-pokemon-own-icon-list {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    gap: 1rem;
}

.popup-start-duel-pokemon-own-icon-unselected {
    opacity: 30%;
}